.application_form{
    table tbody tr {
        @apply mb-0 md:mb-2 flex flex-col  md:flex md:flex-row w-full;

        td{
            @apply md:flex-1
        }}
        
.labelStyle {
    @apply text-left md:text-right;
    padding-right: 20px;
    &::before{
        content: "* ";
        color: red;
    }
}
  
  .inputStyle,
  .textareaStyle,
  .right > input,
  .fileInputStyle {
      width: 70%;
    padding: 5px 10px ;
    border-radius: 5px;
    border: 1px solid #ccc;
    @apply mb-2 md:mb-1;
  }
  
  .textareaStyle {
    resize: vertical;
  }
  
  .fileInputStyle {
    padding: 10px;
    cursor: pointer;
  }
  
  .checkboxContainer {
    @apply flex flex-wrap gap-3
  }
  
  
  .checkboxStyle {
    margin-right: 4px;
  }
  
  .buttonStyle {
      width: 40%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @apply float-left md:float-none;
    font-size: 16px;
    &:hover{
        background-color: aqua;
    }
}
}