@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 100%;
  
}
#root{
  margin: auto;
  max-width: 80%;
  margin-top: 1rem;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .table-container {
    width: 100%; /* Adjust the width as needed */
    max-height: 600px; /* Set the fixed height */
    overflow-y: auto; /* Make the body scrollable */
    scrollbar-width: thin; /* Set the width to thin */
    scrollbar-color: #888 #f1f1f1; /* Optional: Add a border around the table */
  }
  .table-container::-webkit-scrollbar-button {
    display: none; /* Removes the arrows/buttons on the scrollbar */
  }
  .table-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners on the track */
  }
  .table-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners on the thumb */
    border: 2px solid #f1f1f1; /* Optional: Adds space around the thumb */
  }
  
  .job-table {
    width: 100%;
    border-collapse: collapse; /* Make sure table borders are collapsed */
  }
  
  .job-table th, .job-table td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #424244;
  }
  
  .job-table th {
    position: sticky;
    top: 0;
    background-color: #1a1a1a;
  }
  
  .job-table tbody tr:hover {
    background-color: #424244; /* Optional: Highlight row on hover */
  }
  
  .float_right{
    float: right;
  }
    button{
      background-color: white;
      color: black;
      font-weight: bold;
    }
  .jobs_careers_link{
    text-align: center;
  }
  .job_page{
    width: 70vw;
    .job_listing{
      p{
        margin: 0;
      }
      ul {
        list-style: disc;
        padding-left: 2rem;
      }
    }
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
.form_job_post{
  div.form_inputs{
    @apply flex flex-col gap-3 content-center justify-center mb-2;
    .form_group{
      @apply flex flex-row items-center gap-2
    }
  }
}
.form_job_post input[type="text"] {
  background-color: #242424;
  @apply p-2 py-1 border-[1px] rounded-[7px]
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}